---
http_interactions:
- request:
    method: post
    uri: https://qa-api.ukmail.com/Services/UKMConsignmentServices/UKMConsignmentService.svc
    body:
      encoding: UTF-8
      string: |2
                <soapenv:Envelope xmlns:soapenv='http://schemas.xmlsoap.org/soap/envelope/' xmlns:ser='http://www.UKMail.com/Services/Contracts/ServiceContracts' xmlns:dat='http://www.UKMail.com/Services/Contracts/DataContracts'>
                <soapenv:Header/>
                <soapenv:Body>
                <ser:CancelConsignment>
                <ser:request>
                <dat:AuthenticationToken>0936E549-2DBB-4096-B52B-535C156A002C</dat:AuthenticationToken>
                        <dat:Username><UNENCODED_USERNAME></dat:Username>
                <dat:ConsignmentNumber>411501200000016</dat:ConsignmentNumber>
                    </ser:request>
                </ser:CancelConsignment>
            </soapenv:Body>
                </soapenv:Envelope>
    headers:
      Soapaction:
      - '"http://www.UKMail.com/Services/IUKMConsignmentService/CancelConsignment"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body><CancelConsignmentResponse
        xmlns="http://www.UKMail.com/Services/Contracts/ServiceContracts"><CancelConsignmentResult
        xmlns:a="http://www.UKMail.com/Services/Contracts/DataContracts" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><a:Errors><a:UKMWebError><a:Code>8193</a:Code><a:Description>Validation
        failed. Consignment Number is invalid.</a:Description></a:UKMWebError></a:Errors><a:Result>Failed</a:Result><a:Warnings/></CancelConsignmentResult></CancelConsignmentResponse></s:Body></s:Envelope>
  recorded_at: Thu, 01 Oct 2020 14:44:32 GMT
recorded_with: VCR 6.0.0
