---
http_interactions:
- request:
    method: post
    uri: https://services.qa.dhlparcel.co.uk/gateway/DomesticConsignment/1.0/DomesticConsignment
    body:
      encoding: UTF-8
      string: '{"username":"<UNENCODED_USERNAME>","authenticationToken":"7312A80B-3D2C-48FD-B051-64FD9714801F","accountNumber":"<ACCOUNT_NUMBER>","collectionInfo":{"collectionJobNumber":"","collectionDate":"2020-09-30"},"delivery":{"localContactName":"Mr
        John Doe","localContactNumber":7691347758,"contactNumberType":"mobile","localContactEmail":"JohnDoe@webmail.com","deliveryAddresses":[{"address1":"56
        Far Gosford Street","address2":"","address3":"Ball Hill","postalTown":"Coventry","county":"","postcode":"CV1
        5DZ","countryCode":"GBR","addressType":"doorstep","servicePointID":"","specialInstructions":"","secureLocation":""}]},"serviceKey":220,"items":1,"totalWeight":1,"customerReference":"Delivery#id","parcels":[{"length":58,"width":22,"height":15}],"recipient":{"contactName":"Mr
        John Doe","contactEmail":"JohnDoe@webmail.com","contactNumber":"02046768678","recipientAddress":{"businessName":null,"address1":"Apartment
        1a","address2":"Tall Towers","address3":"Ball Hill","postalTown":"Coventry","county":null,"postcode":"CV1
        5AA","countryCode":"GBR","addressType":"residential"},"preDeliveryNotificationType":"none"},"labelFormat":"PDF200dpi6x4"}'
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - foo_bar
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - APIKey Realm = 'APIGateway'
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {"Exception":"[
          {
            "errors": [
              {
                "title": " Unable to identify the application for the request",
                "detail": "API Gateway encountered an error. Request Details - Service: DomesticConsignment, Operation: /DomesticConsignment, Invocation Time: 15:36:11, Date: 29-Sep-2020,  Client IP: 10.217.36.10, User: Default and Application: null"
              }
            ]
          }
        ]"}
  recorded_at: Tue, 29 Sep 2020 14:36:12 GMT
recorded_with: VCR 6.0.0
